<html>

<head>

    <head>
        <title>Social Network</title>
        <!-- <link rel="stylesheet" href="/public/css/login.css"> -->
        <link rel="stylesheet" href="/public/css/main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"
            rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        </script>
    </head>
</head>

<body>
    <nav>
        <div class="logo navbar-brand">space<span>Book</span></div>
    </nav>
    <div class="auth_div registration-form">


        <form onsubmit="signUp(this);">
            <div class="form-icon">
                <span><i class="icon icon-user"></i></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" required name="username" id="uname" placeholder="Username">
            </div>
            <div class="form-group">

                <input type="password" class="form-control item" required name="password" id="pword" placeholder="Password">
            </div>
            <div class="form-group">

                <input type="text" class="form-control item"  name="name" placeholder="Full Name" />

            </div>
            <div class="form-group">

                <input type="email" class="form-control item"  name="email" placeholder="Email"
                    placeholder="Email" />

            </div>
            <div class="form-group">

                <input type="mobno" class="form-control item"  name="mobno" placeholder="Phone Number" />

            </div>
            <div class="form-group">
                <div class="radio form-control item">
                    <label>
                        <input type="radio" name="gender" value="Male" checked />
                        <i class="check-box"></i> Male
                    </label>
                </div>

                <div class="radio form-control item">
                    <label>
                        <input type="radio" name="gender" value="Female" />
                        <i class="check-box"></i> Female
                    </label>
                </div>
            </div>
            <div>
                <input type="submit" class="btn btn-block create-account" name="signup_btn" id="signup_btn"
                    value="Signup">
                <input type="button" class="btn btn-block create-account" name="login_btn" id="login_btn" value="Login">
            </div>
        </form>
    </div>

    <script>
        function signUp(form) {
            //alert("hello");
            form.signup_btn.setAttribute("disabled", "disabled");
            form.signup_btn.innerHTML = "<span>Loading ....</span>";

            var xhr = new XMLHttpRequest();
            
            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    form.signup_btn.removeAttribute("disabled");
                    form.signup_btn.innerHTML = "<span>Signedup</span>";

                    var response = JSON.parse(this.responseText);
                    alert(response.message);

                    if (response.status == "success") {
                        window.location.href = "login";
                    }
                }
            };
            xhr.open("POST", "/signup", true);

            xhr.send(new FormData(form));
        }

        document.getElementById("login_btn").addEventListener("click", function () {
            window.location.href = "/login";
        });
    </script>
</body>

</html>