<%- include ("templates/header") %>


<div class="coverPic">
    <img src="" alt="">
    <input id="btnCoverPic" type="file" accept="image/*" onchange="previewCovPic(this)">
</div>
<div>
    

    <form class="persDetails" onsubmit="updateProfile(this);">
        <h1>
            Personal Details
        </h1>
        <!-- <div class="dPic">
            <img src="" alt="">
        </div> -->
        <img class="dPic" src="" alt="">
        <br>
        <input name="disPic" type="file" accept="image/*" onchange="previewImage(this)">
        <br><br>
        <label>Name: </label>
        <input type="text" required class="name" name="name" />
        <br><br>
        <label>Email: </label>
        <input type="text" class="email" name="email" />
        <br><br>
        <label>Mobile Number: </label>
        <input type="text" class="mobno" name="mobno" />
        <br><br>
        <button type="submit" name="submit">
            <span>Save</span>
        </button>
    </form>

</div>


<%- include ("templates/footer") %>

<script>
    function previewImage(image){
        var file = image.files;
        console.log(file);
        if(file.length>0){
            var fileReader = new FileReader();

            fileReader.onload = function(event){
                document.querySelector(".dPic").src = event.target.result;
            }

            fileReader.readAsDataURL(file[0]);
        }
    }
    function previewCovPic(image){
        var file = image.files;
        console.log(file);
        // var x = document.querySelector("#btnCoverPic");
        // console.log("cndeiwns",x.files);
        if(file.length>0){
            var fileReader = new FileReader();

            fileReader.onload = function(event){
                //console.log(event.target);
                document.querySelector(".coverPic img").src = event.target.result;
            }

            fileReader.readAsDataURL(file[0]);
        }

        
    }

    function updateProfile(form) {
        var x = document.querySelector("#btnCoverPic");
        //console.log(x);
        var ajax = new XMLHttpRequest();
        ajax.open("POST", "/updateProfile", true);

        ajax.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {

                form.submit.innerHTML = "<span>Save</span>";

                var response = JSON.parse(this.responseText);

                alert(response.aws);
            }
        };


        var formData = new FormData(form);
        formData.append("covPic",x.files[0]);
        formData.append("accessToken", localStorage.getItem("accessToken"));
        ajax.send(formData);
    }
    
    function setDetails(){
        setTimeout(function(){
            document.querySelector(".coverPic img").src= "https://spacebook-bucket.s3.us-east-2.amazonaws.com/"+user.covPic;
            document.querySelector(".dPic").src="https://spacebook-bucket.s3.us-east-2.amazonaws.com/"+user.displayPic;

        }, 750);
        if(typeof user.name!="undefined")
        {
            document.querySelector("input[name='name']").value=user.name;
        }
        if(typeof user.name!="undefined")
        {
            document.querySelector("input[name='email']").value=user.email;
        }
        if(typeof user.name!="undefined")
        {
            document.querySelector("input[name='mobno']").value=user.mobno;
        }
    }
    isEditProf = true;
    function onloadFuncs(){
        getUser();
    }
    window.onload = onloadFuncs;
</script>
